:root {
  --palette-text-main: #183153;

  --palette-bg-main: #FFFF;

  --palette-botton-color: #2563eb;

  --palette-border-color: #cbd5e1;

  --palette-error-text: #b91c1c;
  --palette-error-border: #fecaca;
  --palette-error-bg: #fef2f2;

  --palette-font-family: Roboto, sans-serif;
}
